<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h1>Create a new cocktail</h1>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.submit class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
</div>

