.home-banner {
  background-image: url('https://images.unsplash.com/photo-1511872638242-f1652016540e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: left;
  padding-left: 40vh;
  padding-top: 40vh;
  h1 {
    font-size: 50px;

  }
}
